.login {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  border: 2px dotted black;
  padding: 20px;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 5px;
}

.login-form input {
  font-size: 20px;
}

.login-form button {
  font-size: 20px;
  margin-top: 20px;
  padding: 2px;
}
